
//  Цвет текста

$colorBlack: #0F2336;
$colorWhite: #FFFFFF;
$colorDarkWhite: #F0F0F2;
$colorBlue: #00CCCC;
$colorYellow: #F3AF47;
$colorBlueGray: #576D81;
$colorGray: #F4F5F6;
$colorLightGray: #F6F7F8;
$colorPurple: #240C39;

// Цвет фона